html {

	background:url("imagens/backGround.png") no-repeat;
	background-position: center;
	background-attachment: fixed;
}

ul {

    float: left;
    width: 100%;
    padding: 0;
    margin: 10;
    list-style-type: none;
}

a {
    
    float: left;
    text-align: center;
    font-weight: 900;
    width: 28em;
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 0.5em 0.5em;
    border-right: 1px solid white;
}

a:hover {
    background-color: green;
}

li {
    display: inline;
}

