h1 {

	text-align: center;
    font-size: 40px;
    font-weight: bold;
}


fieldset, legend,
input[type='text'],
input[type='password'],
.menuAcesso,
input[type='date']{

	border: 2px solid black;
	margin: auto;

}

fieldset {
	width: 400px;
	margin: 50px auto;
	background-color: rgba(167, 167, 167, 1);
}

legend, 
input[type='submit']{
	font-weight: bold;
	background: black;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	margin: auto;
}

legend {
	padding: 2px 50px;

}

label {
	font-weight: bold;
	margin-bottom: 10px;
}

input[type='text'],
input[type='password'],
input[type='date']{
	width: 95%;
	height: 20px;
	background-color: rgba(215, 215, 215, 1);
}

.menuAcesso {
    
    width: 96%;
    height: 25px;
    background-color: rgba(215, 215, 215, 1);
    margin-bottom: 15px;
    
}

input[type='text']:hover,
input[type='password']:hover,
.menuAcesso:hover,
input[type='date']:hover{
	background: #FFF;
}

input[type='text']:focus,
input[type='password']:focus,
.menuAcesso:focus,
input[type='date']:focus{
	border: 2px solid gray;
}