html {

	background:url("../img/backGround.png") no-repeat;
	background-position: center;
	background-attachment: fixed;
}

ul.menuDropDown {

    float: left;
    width: 100%;
    padding: 0;
    margin: 10;
    list-style-type: none;

}

ul.menuDropDown a {
    
    float: left;
    text-align: center;
    font-weight: 900;
    width: 28em;
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 0.5em 0.5em;
    border-right: 1px solid white;
}

ul.menuDropDown a:hover {
    background-color: green;
}


ul.menuDropDown li {

    position: relative;
    display: inline;

}

ul.menuDropDown li ul {

    position: absolute;
    left: -500px;
    top: 10;
    display: none;

}

ul.menuDropDown li:hover ul {

    display: block;

}
