.navbar {
    margin: 0;
}

.container, .este {
	background:url("../../img/slide_show/fundo.jpg");
}

.este, html {
    background-color: #d4d4d4;
}

p{

    font-weight: bold;
    color: black;

}


