h1 {

    text-align: center;

}

p {

    background-color:  white;
    background-size: center;
}

img {

    box-shadow: 0 0 8px #000;

}

#cssBoxModel {

	width: 95%;
    padding: 15px;
    border: 5px solid gray;
    margin: 2%;
    box-shadow: 0 0 8px #000;
    text-align: center;
    font-size: 30px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

#cssBoxModel #FormataçãoFonteVermelha {

	color: rgb(197,16,26);
}

