h1 {

    text-align: center;
    font-size: 40px;
    font-weight: bold;

}

.cssBoxModel{

	background-color:  white;
    background-size: center;

    width: 95%;
    padding: 90px;
    border: 5px solid gray;
    margin: 3%;
    box-shadow: 0 0 8px #000;
    text-align: left;
    font-size: 30px;
    left: auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

#slide {

	position: absolute;
	top: 330px;
	left: 580px;


}


.cssBoxModel .FormataçãoFonteVermelha {

	color: rgb(197,16,26);
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;       
}
       
